#padding{
    padding: 10px;
}

button{
    border: none;
    font-weight: bold;
    transition: color 0.15s; 
    }

    button:hover{
        color: blue;
    }

    #shadow{
        /* no */
    }
